@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
    font-family: 'Crimson Text';
    user-select: none;
}

html {
    height: 100vh;
    overflow: hidden !important;
}

@wide-screen-down: ~'(max-width: 1199px)';
@desktop-down: ~'(max-width: 991px)';
@tablet-down: ~'(max-width: 769px)';
@phone-down: ~'(max-width: 480px)';
@small-phone-down: ~'(max-width: 320px)';

@media @phone-down {
    .slidercont {
        width: ~'calc(100vw - 15px)';
        margin-left: -1.5rem;
        overflow: hidden;
    }
}

@media @tablet-down {
    .slidercont {
        width: ~'calc(100vw - 15px)';
        margin-left: -1.5rem;
        overflow: hidden;
    }
}

.container.is-fluid {
    padding-left: 0;
}

.top-navbar {
    padding: 33px 0;
    margin: 0 5% 0 3%;
}
.logo-title {
    font-family: 'Crimson Text';
    letter-spacing: 3px;
    color: #222222;
    font-size: 26px;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2;
}

.navbar-item, .navbar-link {
    transition: .5s all;
}

.social-icon {
    color: #cccccc;
    font-size: 13px;
    margin-right: .5rem;
}

.navbar-dropdown {
    .navbar-item {
        i {
            margin-right: .5rem;
        }
    }
}

#tns1-ow {
    .tns-liveregion{
        display: none;
    }
}

.slidercont.leftmouse {
    cursor: url(https://bucket2.format-assets.com/theme_versions/4366330/assets/cursors/left/cursor_white_m.png), auto;
}
.slidercont.rightmouse {
    cursor: url(https://bucket2.format-assets.com/theme_versions/4366330/assets/cursors/right/cursor_white_m.png), auto;
}

.slidercont {
    max-height: ~'calc(100vh - 80px)';
    .slider-container {
        img {
            height: ~'calc(100vh - 80px)';
        }
    }
}
.loader-content.isloading {
    display: flex;
}

.loader-content {
    transition: .5s all;
    z-index: 100;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: none !important;
    justify-content: center;
    align-items: center;
}

.navbar-link:not(.is-arrowless)::after {
    border-color: #4a4a4a;
}

.navbar-link.active:not(.is-arrowless)::after, .navbar-link:hover:not(.is-arrowless)::after {
    border-color: #a9c031;
}

.navbar-item.logo-title:hover {
    color: #222222 !important;
}

.navbar-link:hover {
    background: none;
    background-color: transparent !important;
    color: #a9c031;
}
.navbar-item:hover {
    background: none;
    background-color: transparent !important;
    color: #a9c031 !important;
    .navbar-link {
        background: none;
        background-color: transparent !important;
    }
}



.navbar-link.active {
    color: #a9c031;
}

.navbar-link {
    i {
        margin-right: .5rem;
    }
}

.navbar-link.no-dropdown {
    padding-right: .5rem;
}

.navbar-link.no-dropdown::after {
    display: none;
}

.share-dropdown {
    a {
        color: #cccccc;
    }
    a:hover {
        color: #363636;
    }
    .navbar-dropdown {
        left: -6rem;
        .navbar-item:hover {
            color: #363636 !important;
        }
    }
}

.about {
    margin-top: 4rem;
    .about-content {
        .title {
            font-size: 1.5rem;
            color: #222222;
        }
        .paragraph {
            text-align: justify;
            color: #444444;
            margin-bottom: 1rem;
        }
    }
    .about-links {
        .title {
            color: #222222;
            font-size: 1rem;
        }
        .about-link {
            color: #a9c031;
            display: block;
        }
    }
}