@font-face {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 400;
  src: local('Crimson Text Regular'), local('CrimsonText-Regular'), url(https://fonts.gstatic.com/s/crimsontext/v10/wlp2gwHKFkZgtmSR3NB0oRJfbwhW.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v48/flUhRq6tzZclQEJ-Vdg-IuiaDsNZ.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}
* {
  font-family: 'Crimson Text';
  user-select: none;
}
html {
  height: 100vh;
  overflow: hidden !important;
}
@media (max-width: 480px) {
  .slidercont {
    width: calc(100vw - 15px);
    margin-left: -1.5rem;
    overflow: hidden;
  }
}
@media (max-width: 769px) {
  .slidercont {
    width: calc(100vw - 15px);
    margin-left: -1.5rem;
    overflow: hidden;
  }
}
.container.is-fluid {
  padding-left: 0;
}
.top-navbar {
  padding: 33px 0;
  margin: 0 5% 0 3%;
}
.logo-title {
  font-family: 'Crimson Text';
  letter-spacing: 3px;
  color: #222222;
  font-size: 26px;
  font-style: normal;
  font-weight: bold;
  line-height: 1.2;
}
.navbar-item,
.navbar-link {
  transition: 0.5s all;
}
.social-icon {
  color: #cccccc;
  font-size: 13px;
  margin-right: 0.5rem;
}
.navbar-dropdown .navbar-item i {
  margin-right: 0.5rem;
}
#tns1-ow .tns-liveregion {
  display: none;
}
.slidercont.leftmouse {
  cursor: url(https://bucket2.format-assets.com/theme_versions/4366330/assets/cursors/left/cursor_white_m.png), auto;
}
.slidercont.rightmouse {
  cursor: url(https://bucket2.format-assets.com/theme_versions/4366330/assets/cursors/right/cursor_white_m.png), auto;
}
.slidercont {
  max-height: calc(100vh - 80px);
}
.slidercont .slider-container img {
  height: calc(100vh - 80px);
}
.loader-content.isloading {
  display: flex;
}
.loader-content {
  transition: 0.5s all;
  z-index: 100;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: none !important;
  justify-content: center;
  align-items: center;
}
.navbar-link:not(.is-arrowless)::after {
  border-color: #4a4a4a;
}
.navbar-link.active:not(.is-arrowless)::after,
.navbar-link:hover:not(.is-arrowless)::after {
  border-color: #a9c031;
}
.navbar-item.logo-title:hover {
  color: #222222 !important;
}
.navbar-link:hover {
  background: none;
  background-color: transparent !important;
  color: #a9c031;
}
.navbar-item:hover {
  background: none;
  background-color: transparent !important;
  color: #a9c031 !important;
}
.navbar-item:hover .navbar-link {
  background: none;
  background-color: transparent !important;
}
.navbar-link.active {
  color: #a9c031;
}
.navbar-link i {
  margin-right: 0.5rem;
}
.navbar-link.no-dropdown {
  padding-right: 0.5rem;
}
.navbar-link.no-dropdown::after {
  display: none;
}
.share-dropdown a {
  color: #cccccc;
}
.share-dropdown a:hover {
  color: #363636;
}
.share-dropdown .navbar-dropdown {
  left: -6rem;
}
.share-dropdown .navbar-dropdown .navbar-item:hover {
  color: #363636 !important;
}
.about {
  margin-top: 4rem;
}
.about .about-content .title {
  font-size: 1.5rem;
  color: #222222;
}
.about .about-content .paragraph {
  text-align: justify;
  color: #444444;
  margin-bottom: 1rem;
}
.about .about-links .title {
  color: #222222;
  font-size: 1rem;
}
.about .about-links .about-link {
  color: #a9c031;
  display: block;
}
